.article-grid{
  border:2px solid black;
outline-style: solid;

}

.article-images{
  padding-top: 30px;
  
}


.article-img img {
  height: 100%;
  width:100%;
  object-fit:cover
}
p{
  font-size:25px;
}

.article-title{
  font-size: 25px;
}