.article-grid{
  border:2px solid black;
outline-style: solid;

}

.article-images{
  padding-top: 30px;
  
}


.article-img-div {
 display: flex;
 justify-content: center;
 align-items: center;
}



p{
  font-size:25px;
 
}

.article-title{
  font-size: 25px;
  outline:3px solid black
}


.article-topic{
  
font-style: italic;

}
.article-vote-id-parent {
 
 display:flex;
 justify-content: space-between;
}

.left, .right{
  display:flex;
  flex-direction: column;
  gap:1px
}

.right{
  border: solid 3px black;
}
*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.link{
  color:black
}

.article-body{
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 300px;
}